.tab-button {
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    z-index: 4000;
  }
  
  .tab-button.active {
    color: #1c2126;
    border-bottom: 2px solid #1c2126;
  }