.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f2f4f8;
}

.logo {
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  letter-spacing: -0.005em;
  color: #1c2126;
}

.tabs {
  display: flex;
}

.tab-item {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #8b8b8b;
  cursor: pointer;
  margin-right: 30px;
}

.buttons {
  display: flex;
}

.button {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: #4525f2;
  border: none;
  border-radius: 24px;
  padding: 10px 30px;
  cursor: pointer;
  margin-left: 10px;
}

.button:focus {
  outline: none;
}
