.payment-page-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .payment-page-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .payment-page-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .payment-page-container button[type="submit"] {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #4525f2;
    border: none;
    border-radius: 24px;
    padding: 10px 30px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .payment-page-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .payment-page-container input:focus,
  .payment-page-container button:focus {
    outline: none;
    box-shadow: 0 0 3px #007bff;
  }

  